Makefile.in
Makefile
.deps
.libs
.dirstamp
*.o
*.lo
*.la
*.swp
*.pyc
*.doxytags
*~
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/libwreport.pc
/libtool
/stamp-h1
/m4/lt*.m4
/m4/libtool.m4
/test-driver
/wreport/version.h
/wreport/btable.dox
/wreport/uniconv.cc
/wreport/tut_test
/wreport/benchmark
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/*.debhelper
/debian/libwreport-dev/
/debian/libwreport-doc/
/debian/libwreport3/
/debian/tmp/
/debian/wreport-common/
/debian/python3-wreport/
/debian/python-wreport/
/debian/autoreconf*
/src/wrep
/src/examples
/python/_wreport.so
/py-compile
