Source: wreport
Section: misc
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends:
  debhelper (>= 10), dh-buildinfo, dh-python,
  pkg-config,
  doxygen, python3-sphinx, python3-breathe,
  liblua5.1-0-dev,
  python3-all-dev, python3-docutils
Standards-Version: 4.1.5
Rules-Requires-Root: no
Homepage: https://github.com/ARPA-SIMC/wreport
Vcs-Git: https://github.com/ARPA-SIMC/wreport.git

Package: libwreport-dev
Section: libdevel
Architecture: any
Depends: libwreport3 (= ${binary:Version}), liblua5.1-0-dev, ${misc:Depends}
Recommends: pkg-config
Description: library for working with weather reports
 libwreport is a C++ library for working with weather reports.
 .
 The main feature of libwreport is a powerful decoder and encoder for the BUFR
 and CREX formats.
 .
 It also provides a useful abstraction to handle values found in weather
 reports, with awareness of significant digits, measurement units, variable
 descriptions, unit conversion and attributes on variables.
 .
 Features provided:
 .
  * Read and write BUFR version 2, 3, and 4
  * Read and write CREX
  * Unit conversion
  * Handling of physical variables

Package: libwreport-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for libwreport
 libwreport is a C++ library to read and write weather reports in BUFR and CREX
 formats.
 .
 This is the documentation for the library.

Package: libwreport3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: wreport-common, ${shlibs:Depends}, ${misc:Depends}
Description: shared library for working with weather reports
 libwreport is a C++ library to read and write weather reports in BUFR and CREX
 formats.
 .
 This is the shared library for C programs.

Package: wreport-common
Section: misc
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: common data files for libwreport
 libwreport is a C++ library to read and write weather reports in BUFR and CREX
 formats.
 .
 This package contains common wreport data files, such as variable metadata and
 BUFR and CREX decoding tables.

Package: python3-wreport
Section: python
Architecture: any
Depends: wreport-common, ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Python library to work with BUFR and CREX weather bulletins
 Python bindings for wreport, a library to read and write weather reports in
 BUFR and CREX formats.
