#!/usr/bin/make -f

%:
	dh $@ --with python3,sphinxdoc --without autoreconf -Smeson

override_dh_fixperms:
	dh_fixperms
	test -e /usr/bin/dh_buildinfo && dh_buildinfo

override_dh_auto_install:
	dh_auto_install
	# Remove absolute build path from tag file, resulting in <path>.</path>
	sed -i -e 's@$(CURDIR)@/usr/include@g' \
		debian/tmp/usr/share/doc/wreport/libwreport.doxytags
	rm -r debian/tmp/usr/share/doc/wreport/xml
